<html>
<head>
    <meta charset="utf-8"/>
    <title></title>

    <link href="/css/calender_view.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">



    <!-- 합쳐지고 최소화된 최신 CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

    <!-- 부가적인 테마 -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/boots  trap/3.3.2/css/bootstrap-theme.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet'/>
    <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css' rel='stylesheet'/>
    <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.print.css' rel='stylesheet' media='print'/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>
    <!--<script src="/js/colorpicker/bootstrap-colorpicker.js"></script> -->
    <!-- coloer picker  관련  -->
    <style> .colorpicker { z-index: 9999; } </style>
    <script src="/js/modi_front/color_picker.js"></script>
</head>
<body>
<h1>캘린더 테스트 </h1>
<!-- test-->
<div id='calendar'></div>
<input type="hidden" id="cal_data" value="<%= cal_data %>">
</body>
<script>

    $(document).ready(function () {
        // event 데이타  만들어준다.
        var aEvent = [];
        var aEvent1 = [];
        var oEventItem = {};
        var sCalData = $('#cal_data').val()
        var oJsonCalData = JSON.parse(sCalData);
        //todo  -- reg  색깔 값도 필요 할듯
        for (idx in oJsonCalData) {
            var oMakeData = {};
            for (sKey in  oJsonCalData[idx]) {
                if (sKey === 'cal_text') {
                    oMakeData['title'] = oJsonCalData[idx][sKey]
                } else if (sKey === 'start_date' && oJsonCalData[idx][sKey] !== '') {
                    oMakeData['start'] = oJsonCalData[idx][sKey]
                } else if (sKey === 'end_date' && oJsonCalData[idx][sKey] !== '') {
                    oMakeData['end'] = oJsonCalData[idx][sKey]
                } else if (sKey === 'cal_no' && oJsonCalData[idx][sKey] !== '') {
                    oMakeData['id'] = oJsonCalData[idx][sKey]
                }
                else {
                    oMakeData[sKey] = oJsonCalData[idx][sKey]
                }
            }
            aEvent.push(oMakeData);
        }


        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            selectable: true,
            //	범위 선택 가능 하게 만들어준다
            //	selectHelper: true,
            //	defaultDate: '2017-09-12',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: aEvent,
            //  eventColor: '#378006',
            //	default  칼라인듯
            //	color: 'yellow',  이런식으로  입력 받으면 될듯 하다
            //	#378006  이런식도 당연히  먹히네
            //	],
            dayClick: function (date, jsEvent, view, resource) {
                console.log(
                    'dayClick',
                    date.format(),
                    resource ? resource.id : '(no resource)'
                );
                $('#data').text(date.format());
            },
            eventClick: function (calEvent, jsEvent, view) {
                var oThis = $(this);

                var oParam = {
                    'cal_no': calEvent.id
                };
                $.ajax({
                    dataType: "json",
                    url: '/modi_view',
                    type: 'post',
                    data: oParam,
                    success: function (data) {
                        var aReturnData = JSON.parse(data.cal_data)[0];
                        var sCalNo = aReturnData.cal_no;
                        var sCalText = aReturnData.cal_text;
                        var sStartDate = aReturnData.start_date;
                        var sEndDate = aReturnData.end_date;
                        sStartDate = new Date(sStartDate)
                        sEndDate = new Date(sEndDate)

                        var start_week = sStartDate.getDay()
                        var end_week = sEndDate.getDay()
                        var startLabel = oCalendarUtil.week[start_week];
                        var endLabel = oCalendarUtil.week[end_week];

                        sStartDate = oCalendarUtil.makeCalType(sStartDate);
                        sEndDate = oCalendarUtil.makeCalType(sEndDate);
                        var aLayerData = oCalendarUtil.makeLayerData(oThis, sStartDate, startLabel, sEndDate, endLabel)
                        $('#date').text(aLayerData[0]);
                        $('#makeDate').val(aLayerData[1])
                        $('.reg').css('display', 'none');
                        $('.modi').css('display', 'block');
                        $('.modi').attr('cal_no', calEvent.id);
                        $('.del').attr('cal_no', calEvent.id);
                        //css display none
                        $('input[name="schedule_contents"]').css('display', 'none');
                        $('.schedule').css('display', 'none');
                        $('#modal_button').trigger('click')
                    }
                });


//                $('#modal_button').trigger('click')
            },
            eventDragStop: function () { // 일정을  drag 햇을때

            },
            eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) { // 이것도  일정 관련  drag 관련해서  처리할때

                var sStartBeforeDate = '';
                var sStartAfterDate = '';
                var sEndBeforeDate = '';
                var sEndAfterDate = '';
                if (Object.keys(event.start).length > 0) {
                    sStartBeforeDate = event.start._i;
                    sStartAfterDate = oCalendarUtil.makeCalType(event.start._d, 'start');
                }

                if (Object.keys(event.end).length > 0) {
                    sEndAfterDate = oCalendarUtil.makeCalType(event.end._d, 'end');
                    sEndBeforeDate = event.end._i;
                }

                var oRequestParam = {
                    calNo: event.id,
//                    sStartBeforeDate: sStartBeforeDate,
//                    sEndBeforeDate: sEndBeforeDate
                    sStartAfterDate: sStartAfterDate,
                    sEndAfterDate: sEndAfterDate,
                };

                $.ajax({
                    dataType: "json",
                    url: '/modi_date',
                    type: 'post',
                    data: oRequestParam,
                    success: function (data) {
                        console.log('ajax result')
                        console.log(JSON.parse(data.return_data))
                    }
                });
            },
            select: function (start, end, jsEvent, view, resource) {

                //초기화
                $('input[name="schedule_contents"]').val('')
                // 원래  형태로  바꿔준다 .
                var start_date = start._d.getFullYear() + '-' + (start._d.getMonth() + 1) + '-' + start._d.getDate()
                var end_date = end._d.getFullYear() + '-' + (end._d.getMonth() + 1) + '-' + (end._d.getDate());

                //요일 구하기
                var week = new Array('일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일');
                var start_week = start._d.getDay();
                var end_week = end._d.getDay();
                var startLabel = week[start_week];
                var endLabel = week[end_week];

                var date = ''
                var makedate = ''
                if (parseInt($('.fc-highlight').attr('colspan')) > 1) {
                    date = start_date + ' (' + startLabel + ')' + ' ~ ' + end_date + '( ' + endLabel + ' )';
                    makedate = start_date + '~' + end_date
                } else {
                    date = start_date + ' (' + startLabel + ')';
                    makedate = start_date + '~'
                }

                $('#date').text(date);
                $('#makeDate').val(makedate)
                $('.modi').css('display', 'none');
                $('.reg').css('display', 'block');
                $('#modal_button').trigger('click')

            },
            dayDraw: function () {
                //	todo  날짜 눌렀을 때  이벤트  처리
                //	alert('a day has been clicked!');
            }
        });

        $('.reg').click(function (e) {
            var start_date = $(this).parent().parent().find('.modal-body').find('#makeDate').val().split('~')[0]
            var end_date = $(this).parent().parent().find('.modal-body').find('#makeDate').val().split('~')[1]
            var schedule_contents = $('input[name="schedule_contents"]').val();
            var oParams = {
                'start_date': start_date,
                'end_date': end_date,
                'schedule_contents': schedule_contents
            };
            $.ajax({
                dataType: "json",
                url: '/reg_date',
                type: 'post',
                data: oParams,
                success: function (data) {
                    data.return_data = JSON.parse(data.return_data);
                    var event = {
                        id: data.return_data.seq_no[0].cal_no,
                        title: data.return_data.title,
                        start: new Date(data.return_data.start),
                        end: new Date(data.return_data.end)
                    };
                    $('#calendar').fullCalendar('renderEvent', event, true);
                    // 마지막  닫아준다 . -- 이벤트  버블링
//                    $('.reg').parent().find('.btn-default').trigger('click');
                    $('.close').trigger('click');
                }
            });
            e.preventDefault();
            return false;
        })


        $('.modi').click(function (e) {
            window.location.href = '/move_modi_page?calNo=' + $(this).attr('cal_no');
        })

        $('.del').click(function (e) {
            var oParams = {
                'cal_no': $(this).attr('cal_no')
            };

            $.ajax({
                dataType: "json",
                url: '/del_date',
                type: 'post',
                data: oParams,
                success: function (data) {
                    console.log('data')
//                    console.log(data['return_data'])
//                    console.log(JSON.parse(data['return_data']))
                    var oReturnData = JSON.parse(data['return_data']);
                    if (oReturnData) {
                        //cal_no"
                        //oReturnData.cal_no
                        console.log('cal_no')
                        console.log(oReturnData.cal_no)

                        var event = {
                            id: oReturnData.cal_no
                        };
//                        $('#calendar').fullCalendar('removeEvents', event, true);
//                        $('#calendar').fullCalendar('removeEventSources', event, true);
//                        $('#calendar').fullCalendar('removeEventSource', event, true);
                    }
                }
            });
        });
    });
</script>

<!--레이아웃  테스트  -->
<button type="button" id="modal_button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display:none;">
    Open Modal
</button>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content START -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">일정 탭 </h4>
                <h4 class="modal-title">시간 탭 r</h4>
            </div>
            <div class="modal-body">
                <p class="schedule">일정</p>
                <input type="text" name="schedule_contents" placeholder="예: 오후 7시에 멕시코 음식점에서 저녁식사" autofocus=""></input>
                <br/> 시간<br/> <span id="date"> </span> <input type="hidden" id="makeDate" value=""/>
                <br/> 색<br/> <span id="color"></span>


            <!-- 칼라 피커  -->
                <!--color picker --  해당 부분 나중에 처리 회사 칼리picker로  사용함  -->
                <div class="mColorPicker eColorPicker">
                    <span class="selected" style="background-color:#ff0000"></span><input type="text" id="label_color" maxlength="7" readonly="readonly" value="#ff0000" class="fText" style="width:50px">
                    <span class="selector">
                            <a href="#none">컬러선택</a>
                        </span>
                </div>
                <!-- -->

                <!--선택 관련  레이아웃  -->
            <!--
                <div class="colorpicker" id="collorpicker_514" style="left: 495px; top: 391px; display: none;">
                    <div class="colorpicker_color" style="background-color: rgb(255, 0, 0);">
                        <div>
                            <div style="left: 150px; top: 0px;"></div>
                        </div>
                    </div>
                    <div class="colorpicker_hue">
                        <div style="top: 150px;"></div>
                    </div>
                    <div class="colorpicker_new_color" style="background-color: rgb(255, 0, 0);"></div>
                    <div class="colorpicker_current_color" style="background-color: rgb(255, 0, 0);"></div>
                    <div class="colorpicker_hex"><input type="text" maxlength="6" size="6"></div>
                    <div class="colorpicker_rgb_r colorpicker_field">
                        <input type="text" maxlength="3" size="3"><span></span></div>
                    <div class="colorpicker_rgb_g colorpicker_field">
                        <input type="text" maxlength="3" size="3"><span></span></div>
                    <div class="colorpicker_rgb_b colorpicker_field">
                        <input type="text" maxlength="3" size="3"><span></span></div>
                    <div class="colorpicker_hsb_h colorpicker_field">
                        <input type="text" maxlength="3" size="3"><span></span></div>
                    <div class="colorpicker_hsb_s colorpicker_field">
                        <input type="text" maxlength="3" size="3"><span></span></div>
                    <div class="colorpicker_hsb_b colorpicker_field">
                        <input type="text" maxlength="3" size="3"><span></span></div>
                    <div class="colorpicker_submit"></div>
                </div>
            </div>
            -->
            <!-- 칼라 피커  --->
            <!-- 칼라 피커  --->
            <!-- 칼라 피커  --->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default reg" data-dismiss="modal">일정 생성</button>
                <button type="button" class="btn btn-default modi" data-dismiss="modal">일정 수정</button>
                <button type="button" class="btn btn-default del" data-dismiss="modal">삭제</button>
            </div>
        </div>
        <!-- Modal content END-->
    </div>
</div>
<script>

    var oCalendarUtil = {
        week: new Array('일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'),
        makeCalType: function (date, type) {

            var sCalType = '';
            if (date) {
                var day = date.getDate();
//                if (type === 'end') {
//                    day = date.getDate();
//                }
                sCalType = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + day;
            }

            return sCalType;
        }
        , makeLayerData: function (oThis, start_date, startLabel, end_date, endLabel) {

            var date = ''
            var makedate = ''
            // 아  bar  길이가  아니라  선택 영역이구나  여기   // 이함수  같이  쓰게 되면  이조건을  타입별로 바꿔야한다.
            if (parseInt(oThis.parent().attr('colspan')) >= 2) {
                date = start_date + ' (' + startLabel + ')' + ' ~ ' + end_date + '( ' + endLabel + ' )';
                makedate = start_date + '~' + end_date
            } else {
                date = start_date + ' (' + startLabel + ')';
                makedate = start_date + '~'
            }

            return [date, makedate];
        }

    };
    // modil  페이지  만들어야함
</script>
<script src="/js/modi_front/color_picker.js"></script>
</html>

