<html>
<head>
    <meta charset="utf-8"/>
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

    <!-- 부가적인 테마 -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/boots  trap/3.3.2/css/bootstrap-theme.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
    <!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css"></script>
        -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    s
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet'/>
    <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css' rel='stylesheet'/>
    <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.print.css' rel='stylesheet' media='print'/>
    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>

</head>
<body>
<h1>캘린더 테스트 </h1>
<!-- test-->
<div id='calendar'></div>
<input type="hidden" id="cal_data" value="<%= cal_data %>">
<!--- modal  테스트 -->
<!--
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>
-->
</body>
<script>

    $(document).ready(function () {

        // event 데이타  만들어준다.
        var aEvent = [];
        var aEvent1 = [];
        var oEventItem = {};


        var sCalData = $('#cal_data').val()
        var oJsonCalData = JSON.parse(sCalData);

        //todo  -- reg  색깔 값도 필요 할듯
        for (idx in oJsonCalData) {
            var oMakeData = {};
            for (sKey in  oJsonCalData[idx]) {
                if (sKey === 'cal_text') {
                    oMakeData['title'] = oJsonCalData[idx][sKey]
                } else if (sKey === 'start_date' && oJsonCalData[idx][sKey] !== '') {
                    oMakeData['start'] = oJsonCalData[idx][sKey]
                } else if (sKey === 'end_date' && oJsonCalData[idx][sKey] !== '') {
                    oMakeData['end'] = oJsonCalData[idx][sKey]
                }
                else {
                    oMakeData[sKey] = oJsonCalData[idx][sKey]
                }
            }
            aEvent.push(oMakeData);
        }

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            selectable: true, // 범위 선택 가능 하게 만들어준다
//            selectHelper: true,
//            defaultDate: '2017-09-12',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
//            events: aEvent,
//            eventColor: '#378006', // default  칼라인듯
            // color: 'yellow',  이런식으로  입력 받으면 될듯 하다
            //#378006  이런식도 당연히  먹히네
//            events: [
//                {
//                    title: 'All Day Event',
//                    start: '2017-06-01',
//                    color: '#378006',
//                },
//                {
//                    title: 'Long Event',
//                    start: '2017-06-01',
//                    end: '2017-06-10'
//                },
//                {
//                    id: 999,
//                    title: 'Repeating Event',
//                    start: '2017-06-09T16:00:00'
//                },
//                {
//                    id: 999,
//                    title: 'Repeating Event',
//                    start: '2017-06-16T16:00:00'
//                },
//                {
//                    title: 'Conference',
//                    start: '2017-06-11',
//                    end: '2017-06-13'
//                },
//                {
//                    title: 'Meeting',
//                    start: '2017-06-12T10:30:00',
//                    end: '2017-06-12T12:30:00'
//                },
//                {
//                    title: 'Lunch',
//                    start: '2017-06-12T12:00:00'
//                },
//                {
//                    title: 'Meeting',
//                    start: '2017-06-12T14:30:00'
//                },
//                {
//                    title: 'Happy Hour',
//                    start: '2017-06-12T17:30:00'
//                },
//                {
//                    title: 'Dinner',
//                    start: '2017-06-12T20:00:00'
//                },
//                {
//                    title: 'Birthday Party',
//                    start: '2017-06-13T07:00:00'
//                },
//                {
//                    title: 'Click for Google',
//                    url: 'http://google.com/',
//                    start: '2017-06-28'
//                }
//            ],
            dayClick: function (date, jsEvent, view, resource) {
                console.log(
                    'dayClick',
                    date.format(),
                    resource ? resource.id : '(no resource)'
                );
                $('#data').text(date.format());
            },
            eventDragStop: function () { // 일정을  drag 햇을때
            },

            eventDrop: function () { // 이것도  일정 관련  drag 관련해서  처리할때
            },
            select: function (start, end, jsEvent, view, resource) {
                // 원래  형태로  바꿔준다 .
                var start_date = start._d.getFullYear() + '-' + (start._d.getMonth() + 1) + '-' + start._d.getDate()
                var end_date = end._d.getFullYear() + '-' + (end._d.getMonth() + 1) + '-' + end._d.getDate();

                //요일 구하기
                var week = new Array('일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일');
                var start_week = start._d.getDay();
                var end_week = end._d.getDay();
                var startLabel = week[start_week];
                var endLabel = week[end_week];

                var date = ''
                var makedate = ''
                if (parseInt($('.fc-highlight').attr('colspan')) > 1) {
                    date = start_date + ' (' + startLabel + ')' + ' ~ ' + end_date + '( ' + endLabel + ' )';
                    makedate = start_date + '~' + end_date
                } else {
                    date = start_date + ' (' + startLabel + ')';
                    makedate = start_date + '~'
                }

                $('#date').text(date);
                $('#makeDate').val(makedate)
                $('#modal_button').trigger('click')
            },
            dayDraw: function () {
                //todo  날짜 눌렀을 때  이벤트  처리
                alert('a day has been clicked!');
            }


//            eventSources: [
//                '/eventSource1.json',
//                '/eventSource2.json'
//                // your event source
////                {
////                    dayClick: function () {
////                        //todo  날짜 눌렀을 때  이벤트  처리
////                        alert('a day has been clicked!');
////                    }
////                }
//            ]
//            defaultView: 'agendaDay',
//            events: [
//                // events go here
//            ],
//            resources: [
//                {id: 'a', title: 'Room A'},
//                {id: 'b', title: 'Room B'},
//                {id: 'c', title: 'Room C'},
//                {id: 'd', title: 'Room D'}
//            ]
        });

        $('.reg').click(function (e) {
            var start_date = $(this).parent().parent().find('.modal-body').find('#makeDate').val().split('~')[0]
            var end_date = $(this).parent().parent().find('.modal-body').find('#makeDate').val().split('~')[1]
            var schedule_contents = $('input[name="schedule_contents"]').val();
            var oParams = {
                'start_date': start_date,
                'end_date': end_date,
                'schedule_contents': schedule_contents
            };
            $.ajax({
                dataType: "json",
                url: '/reg_date',
                type: 'post',
                data: oParams,
                success: function (data) {
                    console.log('data');
                    console.log(data);
                    console.log('data end');
                }
            });

            e.preventDefault()
            return false;
        })
        $('.modi').click(function (e) {
            $.ajax({
                dataType: "json",
                url: '/modi_date',
                type: 'post',
                data: {'params': oParams},
                success: function (data) {
                    console.log('data');
                    console.log(data);
                    console.log('data end');
                }
            });
            e.preventDefault()
            return false;
        })
    });
</script>

<!--레이아웃  테스트  -->
<button type="button" id="modal_button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display:none;">
    Open Modal
</button>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">일정 탭 </h4>
                <h4 class="modal-title">시간 탭 r</h4>
            </div>
            <div class="modal-body">
                <p>일정</p>
                <input type="text" name="schedule_contents" placeholder="예: 오후 7시에 멕시코 음식점에서 저녁식사" autofocus=""></input><br/>
                시간<br/> <span id="date"> </span> <input type="hidden" id="makeDate" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="reg" data-dismiss="modal">일정 생성</button>
                <button type="button" class="modi" data-dismiss="modal">일정 수정</button>
            </div>
        </div>

    </div>
</div>
</html>

