<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/boots  trap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <!--<script src="/event.js"></script>-->

</head>
<body>
<h1></h1>
<h1>Loop it!!!!</h1>
<!--
    <ul>
        <% for(var i = 0; i < length; i++){ %>
            <li>
                <%= "LOOP" + i %>
            </li>
        <% } %>
    </ul>
    -->
<div class="btn-group" role="group" aria-label="...">
    <button type="button" id="kakao-login-btn" class="btn btn-default">카카오자동로그인</button>
    <button type="button" id="send">보내기</button>
    <button type="button" id="login">로그인</button>


    <script>
        var oTocken = {};
        var sTocken = '';
        var token_type = '';
        $('#kakao-login-btn').click(function () {
            //자바스크립트  - 앱 클라이언트키
            Kakao.init('88194590ac5f2b7863f1732637a592c5');
            // 카카오 로그인 버튼을 생성합니다.
            Kakao.Auth.createLoginButton({
                container: '#kakao-login-btn',
                success: function (authObj) {
                    oTocken = authObj;
                    sTocken = authObj.access_token;
                    token_type = authObj.token_type;
                    alert(JSON.stringify(authObj));
                },
                fail: function (err) {
                    console.log(15)
                    console.log(err)
                    alert(JSON.stringify(err));
                }
            });
        });

        $('#send').click(function () {

            //var oParams = '111';
            var oParams = {};
            oParams['access_token'] = sTocken;
            oParams['token_type'] = token_type;
            console.log(oParams['access_token'])
            console.log(oParams['token_type'])
            console.log(oParams)
            $.ajax({
                dataType: "json",
                url: '/send_me',
                type: 'post',
                data: {'params': oParams},
                success: function (data) {
                    console.log('data');
                    console.log(data);
                    console.log('data end');
                }

            });

        })


        $('#login').click(function () {
            $.ajax({
                dataType: "json",
                url: '/login',
                type: 'post',
                success: function (data) {
                    var makehtml = "<html>" + data.body + "</html>";
                    $("html").html(makehtml)

                    $(document).delegate('#btn_login', 'click', function () {
                        alert('a')
                        console.log($('#email').val())
                        console.log($('#password').val())
                    });

//                    $('#btn_login').click(function () {
////                        alert('as')
////                        console.log($(this))
//                        console.log($('#email').val())
//                        console.log($('#password').val())
//                    })
//                    $.ajax({
//                        url: '/oauth',
//                        type: 'get',
//                        dataType: "html",
//                        success: function (result) {
////                            console.log(213123)
////                            console.log(result)
////                            console.log(333)
//                        },
//                        error: function (request, status, error) {
//                            alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
//                        }
//                    })

                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });

        })
    </script>
</div>

</body>
</html>